
#menuToggle{
    background-color: transparent;
    border: none;
    background-size: cover;
    width: 40px;
    height: 40px;
    align-self: start;
    margin-left: auto;

}

#menuToggle.hamburger{
    background-image: url(../images/layout/hamburger.png);
}

#pageContent {
    padding: 100px 20px;
    min-height: 100vh;
    background-image: url(../images/image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
#pageContent.home{
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
#pictInfo {
    background-color: rgba(155,155,155,0.8);
    padding: 40px;
    color: var(--white);
    width: 300px;
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    position: relative;
}
